media/*/*.mp3
media/*/*.mp4
media/*/*.wav
/tools/bcrypt/node_modules
/Subtitle-Generator/myenv/*
/summerized/venv/*
*.mpg
export-sql-chromadb/.env
/export-sql-chromadb/web_service/.env
/export-sql-chromadb/.venv/*
/export-sql-chromadb/gen*.json
