version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: chroma-cache-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      redis-server --save 20 1 --loglevel warning
    volumes:
      - redis_data:/data

volumes:
  redis_data:

