version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: gitlab-postgres
    restart: always
    environment:
      POSTGRES_DB: gitlabhq_production
      POSTGRES_USER: gitlab
      POSTGRES_PASSWORD: gitlab
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    container_name: gitlab-redis
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  gitlab:
    image: gitlab/gitlab-ce:16.3.2-ce.0
    container_name: gitlab
    hostname: gitlab.local
    restart: always
    depends_on:
      - postgres
      - redis

    ports:
      - "81:80"
      - "444:443"
      - "2222:22"

    environment:
      GITLAB_ROOT_PASSWORD: "MyStrongPassword123!"
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://192.168.1.84:81'

        gitlab_kas['enable'] = false


        # ---------- PostgreSQL ----------
        postgresql['enable'] = false
        gitlab_rails['db_adapter']  = 'postgresql'
        gitlab_rails['db_encoding'] = 'utf8'
        gitlab_rails['db_database'] = 'gitlabhq_production'
        gitlab_rails['db_username'] = 'gitlab'
        gitlab_rails['db_password'] = 'gitlab'
        gitlab_rails['db_host']     = 'postgres'
        gitlab_rails['db_port']     = 5432

        # ---------- Redis ----------
        redis['enable'] = false
        gitlab_rails['redis_host'] = 'redis'
        gitlab_rails['redis_port'] = 6379

        # ---------- Performance ----------
        puma['worker_processes'] = 2
        sidekiq['concurrency'] = 10

    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab

volumes:
  gitlab_config:
  gitlab_logs:
  gitlab_data:
  postgres_data:
  redis_data:

