version: '3.9'
services:
  gitlab:
    image: gitlab/gitlab-ce:16.3.2-ce.0
    restart: always
    hostname: '192.168.1.68'
    container_name: gitlab
    ports:
      - "80:80"
      - "443:443"
      - "23:22"
    volumes:
      - ./gitlab-config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab
    environment:
      - GITLAB_OMNIBUS_CONFIG="external_url 'http://192.168.1.68'"
